{% extends 'base.html' %}

{% block content %}
    <!-- Include the header -->
    {% include 'header.html' %}

    <hr class="my-4">

    <div class="row">
      {% for item in stats %}
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box {{ item.color }}">
          <div class="inner">
            <h3> {{ item.number }} </h3>
            <p> {{ item.description }} </p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      {% endfor %}
    </div>


    <div class="card-deck">

        {% for product in products %}
            <div class="card">
              <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}">
              <div class="card-body">
                <a href="{{ product.redirect_link }}" target="_blank"> <!-- Using the redirect_link as a URL -->
                    <h5 class="card-title">{{ product.title }}</h5>
                </a>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
        {% empty %}    
        <p> No product available ! </p>
        {% endfor %}
    </div>


    <!-- Include the footer -->
    {% include 'footer.html' %}


{% endblock %}
